
<link rel="stylesheet" href="/stylesheets/output.css">

<nav class="top-bar" data-topbar role="navigation">
    <div class="top-bar-left">
        <ul class="menu">
            <li >
                <a class="menu-text" href="/">Derick Yung</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="https://github.com/derkknight">Github</a>
            </li>
            <li>
                <a href="">Resume</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </div>
</nav>