<link rel="stylesheet" href="/stylesheets/output.css">

<nav class="top-bar" data-topbar role="navigation">
    <div class="top-bar-left>
        <a class="menu-text" style="color: white" href="/">Derick Yung</a>
    </div>
    <div class="align-left">
        <ul class="menu">
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="https://github.com/derkknight">Github</a>
            </li>
            <li>
                <a href="">Resume</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </div>
</nav>