<head>
        <% include ./partials/navbar %>
</head>
<body>
<div class="project-container">
        <h1>Projects</h1>
        
        <div class="card" style="width: 1000px; height: 300px;">
                <div class="grid-x grid-padding-x">
                        <div class="cell small-12  grid-x grid-padding-x grid-padding-y">
                                <img class="cell small-4" style="align-self: center" id="project-image" src="/images/project1.jpg">
                                <div class="cell small-8">
                                        <h2><a href="https://www.github.com">Project Title - Coming Soon</a></h2>
                                        <p id="project-description">Description of the project. Description of the project. Description of the project. Description of the project. Description of the project. Description of the project. Description of the project.</p>
                                </div>
                        </div>
                        <div class="cell small-12 grid-x grid-padding-x">
                                <div class="cell small-4">
                                Tags
                                </div>
                                <ul id="technology-stack-list" class="menu cell small-8">
                                        <li>
                                                <span data-tooltip title="What does this thing do hello man." tabindex="1" data-position="bottom" data-alignment="center">
                                                        <img src="/images/python-powered-h.svg" height="50px" width="50px"/>
                                                </span>
                                        </li>
                                        <li>
                                                <img src="/images/python-powered-h.svg" height="50px" width="50px"/>
                                        </li>
                                </ul>
                        </div>
                </div>
        </div>
</div>
</body>
<% include ./partials/foundation %>
