@import '../../node_modules/foundation-sites/scss/foundation';
@import '_settings';
@import '_home';
@import '_project';
@import '_technology';
@include foundation-everything;
$padding-left: 300px;



.container {
    @include horizontal-center;
    background-color: #FFFFFF;
}



.menu  {
    padding-left: $padding-left;

    a {
        color: $topbar-text;
        font-weight: 600;
        padding-right: 50px;
    }

    .underline {
        position: relative;

        &::after {
            position: aboslute;
            border-bottom: 3px solid $topbar-text;
            top: calc(100% - #{3px});
            left: 50%;
            right: 50%;
            transition: all 0.5s ease;
        }

        &:hover::after {
            left: 0;
            right: 0;
            transition: all 0.5s ease;
        }
    }
}