.home-container {
    padding-top: 25px;
    justify-content: center;
}

.profile {
    border-radius: 50%;
    border: 10px solid $topbar-text;
    height: 400px;
    width: 400px;
}

.profile-card {
    margin: 15px;
    border-radius: 10px;
    background-color: $topbar-text;
    padding: 15px;
}
