$window-color: rgb(250, 252, 248);
$window-border: lighten($top-bar-color, 35%); 

.experience {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.job-time {
    float: right;
    font-style: italic;
}

.experience h3 {
    font-size: 18px;
    font-weight: bold;
}

.home-container {
    padding-top: 50px;
}


.home-container .cell{
    padding-top: 25px;
}



.profile-top h1 {
    font-size: 30px;
    font-weight: 550;
}

.profile {
    border-radius: 50%;
    border: 10px solid $topbar-text;
    max-width:400px;
    max-height:400px;
    height: auto;
    width: auto;
}

.profile-top {
    background-color: lighten($theme-2, 10%);
    padding: 15px;
    color: rgb(39,69,115);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 1px;
    border-color: $window-border;
    border-style: solid;
    border-bottom: none;
}

.profile-card {
    border-radius: 10px;
    background-color: $window-color;
    color: rgb(39,69,115);
    padding: 15px;
    border-color: $window-border;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    border-style: solid;
    border-width: 1px;
}
