$technology-color: rgb(0,0,0);

.tech-img {
    max-height: 50px;
    max-width: 100%;
    height: auto;
}

.tech-img:hover + .technology-tip-container {
    opacity: 1;
}

.technology-tip-container {
    position: absolute;
    margin-top: 10px;
    opacity: 0;
    width: 250px;
    transition: opacity 0.2s ease;
    color: $white;
}

.technology-arrow {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 5%;
    position: relative;
    border-bottom: 10px solid $technology-color;
}

.technology-tip-info {
    border-radius: 10px;
    background-color: $technology-color;
    text-align: left;
    padding: 15px;
    padding-bottom: 5px;
}

.technology-tip-info p {
    font-size: 13px;
}

.technology-tip-heading img{
    vertical-align: text-top;
}

.technology-tip-heading p {
    display: inline-block;
    font-weight: 550;
    font-size: 16px;
    vertical-align: text-top;
}

.technology {
    padding: 5px;
}